# local dotfiles
.envrc
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

# Deps
node_modules
/.pnp
.pnp.js

# Windows
debug.log

# temp
/local-playground

# Mac
.DS_Store

# Logs
logs
*.log*

# Misc
/build
__generated__